<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" parallel="methods" thread-count="2">
	
	 <test name="TestScenarios_Chrome">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="WebAutomation.TestScenarios" />
        </classes>
    </test>

    <test name="TestScenarios_Firefox">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="WebAutomation.TestScenarios" />
        </classes>
    </test>
	
	
</suite> 
